<!-- <h1>Ini adalah halaman About!</h1> -->
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/farizal.jpg" alt="Farizal" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Farizal</h1>
            <p class="lead">Freelancer</p>
        </div>
    </div>
</div>